<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic6clone apps Pack
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2021-present initappz.
 -->
<ion-content class="ion-padding">
  <div class="main_content_div">

    <div class="img" [style.backgroundImage]="'url(assets/img/6.jpg)'"></div>

    <div class="items">
      <div class="right">
        <div class="veg_img">
          <img src="assets/icon/vegetarian.png">
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-label class="text">Bestseller</ion-label>
        </div>
        <ion-label class="title">Pizza Margerita</ion-label>
        <ion-label class="price">$34</ion-label>
      </div>

      <div class="add">
        <ion-button size="small" color="success" fill="clear">
          <ion-icon name="remove" color="medium"></ion-icon>
        </ion-button>
        <ion-label>1</ion-label>
        <ion-button size="small" color="success" fill="clear">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </div>
    </div>

  </div>

</ion-content>
