<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic6clone apps Pack
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2021-present initappz.
 -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()" color="dark">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Apply coupons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <div class="separation">
      <div class="input">
        <ion-input type="text" placeholder="Enter Coupon Code">
        </ion-input>
        <ion-label color="primary">APPLY</ion-label>
      </div>
     <ion-label>Available coupons</ion-label>
    </div>

    <div class="coupon_div" *ngFor="let item of [1,2,3,4,5,6,7]">
      <div class="upper_div">
        <div class="coupon">
          <img src="assets/icon/paypal.png" alt="">
          <ion-label>PAYPAL20</ion-label>
        </div>
        <ion-label color="primary" >APPLY</ion-label>
      </div>
      <div class="title">
      <ion-label>Get 20% discount using PayPal Cards</ion-label>
      </div>
      <ion-label class="small_text">Maximum discount up to $200 on orders above $300</ion-label>
      <ion-label class="text">Add $30 more to avail this offer</ion-label>
    </div>


  </div>
</ion-content>
